.wrap {
	--width: 600px;

	margin: 0 auto;
	text-align: center;
	width: var(--width);
}

.play-btn {
	margin: 10px;
}

.title, .header {
	color: #f0f0f0;
	text-align: left;
}

body {
	background: #262626;
}

.header div {
	display: inline-block;
}